@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#image-back{
    background-image: url(/pictures/blur_sunny.jpg);
    background-repeat: none;
    background-size: cover;
}
.main-container{
    height:500px;
    width:900px;
    margin-top: 50px;
    margin-left:200px;
    /* background-color: aqua; */
    align-items: center;
    background-color: #28282f;
    box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.2);
    /* border-radius: 40px; */
   border-radius:25px 25px 25px 25px;
}
.sub-container{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    gap:1.4rem;
    /* border-radius: 25px; */
    
}
.black-div{
    height: 500px;
    width: 600px;
    background-color: #000;
    /* border-radius: 25px; */
    border-radius:25px 0px 0px 25px;

    
}
.background-image{
    position: relative;
    height: 500px;
    width:600px;
    opacity: 0.5;
    border-radius:20px 0px 0px 20px;

}
.search-and-button{
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid #fff;
}
#search{
    outline: none;
    border: none;
    height:50px;
    width:180px;
    position: absolute;
    background-color: #28282f;
    color:#fff;
    font-family: 'Poppins';
    
   
}

.btn{
    height:50px;
    width:50px;
    background-color: #28282f;
    border: none;
    outline: none;
    /* position: relative; */
}
.information-div{
    height:500px;
    width:240px;
    opacity: 0.8;
    padding: 20px 0px;
}
.temp-details{
    display: flex;
    justify-content: space-between;
    position:absolute;
    width:600px;
    top:27em;
    list-style: none;
    align-items: center;
    color: #fff;
    padding: 0px 30px;

    
   
}
.temp-info-inside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    
}
.temp-weather{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}
.temparature-value{
    font-family: 'Poppins';
    font-size:50px;
 
}
.other-element{
    padding: 10px 0px;
}
.other-elements-inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    font-family: 'Poppins';
    font-size: 20px;
    padding: 40px 0px;
    color: #fff;
    width:auto;
    /* margin-right: 40px; */
}
.other-elements-inside li{
    padding: 25px 0px;
    border-bottom: 1px solid #ffff;
}
.temp-val-date{
    display: flex;
    flex-direction: column;
    list-style: none;
}
#date-val{
    font-size: 12px;
    padding-left: 10px;
   position: relative;
   bottom: 13px;
}

